body{
    background-position: center;
    background-size: cover;
    width: 95%;
    height: 95vh;
    text-align: center;

}
#h1{
    text-align: center;
    margin: auto;
    position: absolute;
    top: 250px;
    left: 470px;
    background-color: white;
    color: gold;
    width: 500px;
    height: 100px;
    line-height: 50px;
    border: 5px ridge gold;
}
#h1_after{
    opacity: 0;
}
#ball{
    position: absolute;
    top: 5px;
    left: 135px;
    /* position: absolute;
    top: 505px;
    left: 835px; */
}
#ball_after{
    opacity: 0;
}
#star{
    position: absolute;
    top: 50px;
    left: 250px;
}
#star_after{
    opacity: 0;
}